<!DOCTYPE html>
<html>
<head>
    <title>Edit Contact</title>
</head>
<body>

<h2>Edit Contact</h2>

<form method="POST">
    <input name="first_name" value="{{contact['first_name']}}"><br>
    <input name="last_name" value="{{contact['last_name']}}"><br>
    <input name="address" value="{{contact['address']}}"><br>
    <input name="email" value="{{contact['email']}}"><br>
    <input name="phone" value="{{contact['phone']}}"><br>
    <button>Update</button>
</form>

</body>
</html>